/* "scss-style.scss" AS A CSS FILE, NO CHANGES */

/* NO ERRORS: acheived same results as "mystyles.css" and "semantic-styles.css" */

/* THIS IS NOT LINKED */
  
html {
  font-size: 1.375em; /* Adjusts all font sizes to scale according to the p element at 22px */
}

* {
  font-family: Helvetica, Arial, sans-serif; /* Changed default font family selection order to have Helvetica as primary, kept Arial as backup */
  color: seashell;
}

/* FIXED TOPBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 69px;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: black;
  border-bottom: 1px solid seashell;

  #logo {
    height: 50px;
    padding-right: 20px;
  }

  #menu {
    position: absolute;
    right: 50px;

    @media (min-width: 600px) {
      a {
        display: inline-block;
        margin-right: 20px;
      }
    }

    @media (max-width: 600px) {
      a {
        display: block;
      }
    }
  }
}

/* Body */
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 69px;
  padding: 0 40px;

  /* INTRO ARTICLE */
  #image-and-mission {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: -5px 0 0 0;

    #mission {
      background-color: black;
      text-align: center;
      position: absolute; /* positions the text over the image */
      left: 0;
      right: 0;
      margin: 0;
      padding: 0 50px;
    }

    #mission-background {
      width: 100%;
      flex-basis: 1 1 1200px;
      overflow-x: hidden;
    }
  }

  /* PRODUCTS ARTICLE */
  #products-article {
    h2, h4 {
      text-align: center;
    }

    #products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-basis: 1 1 1000px;
    }

    .item-and-name {
      margin: 15px 15px;

      img {
        width: 300px;
        height: 200px;
      }

      h4 {
        margin: 10px;
      }
    }
  }

  /* LOCATIONS ARTICLE */
  #locations-article {
    background-image: url(./images/img-locations-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    margin-bottom: 0;

    h2 {
      text-align: center;
      display: block;
      margin: 52px auto 0 auto;
    }

    #locations-boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 100px;
      text-align: center;

      .address-box {
        background-color: black;
        text-align: center;
        margin: 15px 40px;
        width: 300px;
        height: 300px;
        align-content: center;
        justify-content: center;
      }
    }
  }

  /* Contact Section */
  #contact {
    text-align: center;
    height: 200px;
    margin-top: 0;
    padding: 0;

    h2 {
      line-height: .5;
      padding: 0;
      margin: 20px 0 50px 0;
    }
  }
}

/* Footer */
footer {
  h5 {
    position: relative;
    left: -20px;
  }
}
